{default_translation_domain domain='freedelivery.bo.default'}
<div class="general-block-decorator">
    <div class="row">
        <div class="col-md-12 title title-without-tabs">
            {intl l='Free delivery' }
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="js_btn_save_toolbar">
                {include
                    hide_flags = true
                    file = "includes/inner-form-toolbar.html"
                    page_url   = "{url path='/admin/module/FreeDelivery'}"
                    close_url  = "{url path='/admin/modules'}"
                }
            </div>


            <div class="js_error_freedelivery_save alert alert-danger hidden">
            </div>

            <div>
                <fieldset class="form-group">
                    <legend>{intl l='Price parameters'}</legend>
                    <span class="help-block">{intl l='If the customer cart price is above the following price, the delivery is free. Should we take into account the cart price with or without taxes ?'}</span>

                    <div class="form-check">
                        <label class="form-check-label">
                            <input type="radio" class="form-check-input" name="freedelivery_use_taxe" id="freeDeliveryRadioUseTaxeYes" value="yes" {if $useTaxes}checked{/if}>
                            {intl l='Use taxes'}
                        </label>
                    </div>
                    <div class="form-check">
                        <label class="form-check-label">
                            <input type="radio" class="form-check-input" name="freedelivery_use_taxe" id="freeDeliveryRadioUseTaxeNo" value="no" {if !$useTaxes}checked{/if}>
                            {intl l="Don't use taxes"}
                        </label>
                    </div>
                </fieldset>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="table-responsive">
                <table class="table table-striped table-condensed table-left-aligned">
                    <thead>
                        <tr>
                            <th></th>
                            {foreach from=$deliveryModules item=deliveryModule}
                            <th>{$deliveryModule->getCode()}</th>
                            {/foreach}
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                        </tr>
                        <tr>
                            <td><strong>{intl l="Update all zones for one module"}</strong></td>
                            {foreach from=$deliveryModules item=deliveryModule}
                                <td>
                                    <input class="js_input_update_all" data-module-id="{$deliveryModule->getId()}" type="number">
                                </td>
                            {/foreach}
                        </tr>
                        {foreach from=$areas item=area}
                        <tr>
                            <td>{$area->getName()}</td>
                            {foreach from=$deliveryModules item=deliveryModule}
                            <td>
                                <div>
                                    {$amount = {$freeDeliveryConditionResult[$deliveryModule->getId()][$area->getId()]|default:null}}
                                    <input type="number" step="any" class="js_input_freedeliv_amount"
                                           data-deliveryid="{$deliveryModule->getId()}"
                                           data-areaid="{$area->getId()}"
                                           {if $amount}value="{$amount}"{/if}/>
                                </div>
                            </td>
                            {/foreach}
                        </tr>
                        {/foreach}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{default_translation_domain domain='bo.default'}