<?xml version="1.0" encoding="UTF-8"?>
<module xmlns="http://thelia.net/schema/dic/module"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://thelia.net/schema/dic/module http://thelia.net/schema/dic/module/module-2_2.xsd">
    <fullnamespace>FreeDelivery\FreeDelivery</fullnamespace>
    <descriptive locale="en_US">
        <title>Free delivery for all delivery modules from a specific amount by area</title>
    </descriptive>
    <descriptive locale="fr_FR">
        <title>Gérer la livraison gratuite des modules de livraisons par zone et à partir d'un montant</title>
    </descriptive>
    <languages>
        <language>en_US</language>
        <language>fr_FR</language>
    </languages>
    <version>1.0.1</version>
    <authors>
        <author>
            <name>Théophile Pumain</name>
            <email>tpumain@openstudio.fr</email>
        </author>
    </authors>
    <type>classic</type>
    <thelia>2.3.0</thelia>
    <stability>other</stability>
</module>
